.primary-define #checkout .shipping-existing select,
.primary-define #checkout .new-address-input {
    width: 90%;
    margin-bottom: 5px;
    background: #ffffff;
    border: 1px solid #ddd;
}
.primary-define #checkout .new-address {
    font-size: 12px;
    color: #4da7ff;
    text-decoration: underline;
    cursor: pointer;
    padding: 3px;
}
